@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/imgs/fundo.png');
    font-size: 16px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.form-control:focus {
    border-color: #033c45;
    box-shadow: 0 0 0 0.2rem rgba(3, 60, 69, 0.25);
}

nav {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.nav-item {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
}

.nav-item:hover {
    color:#00AE9D;
}

.nav-item ~ .active {
    color:#00AE9D;
    border-bottom: 1px solid #00AE9D;
}

.bg-card-green {
    background-color: #033c45;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.bg-card-green-gerente {
    background-color: #033c45;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.text-sicoob {
    color:#033c45;
}

.dropdown {
    border-left: 1px solid rgba(255, 255, 255, 0.644);
    padding-left: 1rem;
}

.card-hover {
    text-decoration: none;
    color: #033c45;

    transition: all 0.2s;
}

.card-hover:hover {
    filter: opacity(92%);
}

.input-filtro, .input-filtro ~ label {
    background-color: transparent;
    padding: 1rem;
    color: white;
}

.input-filtro:focus, .input-filtro ~ label {
    background-color: transparent;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #003642;
}

::-webkit-scrollbar-thumb {
    background: #0c4f5c;
    border-radius: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
